.container {margin: 0 auto; overflow: hidden;}
.content { margin:0 auto; padding-top:50px;}
/* Loading Circle */
.ball {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(255, 216, 149,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 20px #FF0000;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spin .5s 10 linear;
	-webkit-animation:spin .5s 10 linear;
    -o-animation: spin .5s 10 linear;
    animation: spin .5s 10 linear;
}

.ball1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(102, 255, 51,0.9);
	opacity:.9;
	border-top:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #B20000; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoff .5s 10 linear;
	-webkit-animation:spinoff .5s 10 linear;
    -o-animation:spinoff .5s 10 linear;
    animation:spinoff .5s 10 linear;
}

@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}
@-ms-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg); }
}
@-ms-keyframes spinoff {
	0% { -ms-transform:rotate(0deg); }
	100% { -ms-transform:rotate(-360deg); }
}
@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
@keyframes spinoff {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(-360deg); }
}
